{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Start Login Register Area -->
        <div class="htc__login__register bg__white ptb--130" style="background: rgba(0, 0, 0, 0) url({% static 'assets/images/bg/5.jpg' %}) no-repeat scroll center center / cover ;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <ul class="login__register__menu" role="tablist">
                            <li role="presentation" class="login active"><a href="#login" role="tab" data-toggle="tab">Change Password</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Start Login Register Content -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="htc__login__register__wrap">
                            <!-- Start Single Content -->
                            <div id="login" role="tabpanel" class="single__tabs__panel tab-pane fade in active">
                                <form class="login" method="post">
                                    {{ form.non_field_errors }}
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-group">
                                            {{ field }}
                                            {{ field.help_texts }}
                                            {% for error in field.errors %}
                                                <li class="alert-danger alert">{{ error }}</li>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <div class="form-group center">
                                        <input type="submit" value="Change password" class="btn btn-primary py-3 px-5">
                                    </div>
                                </form>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <!-- End Single Content -->
                        </div>
                    </div>
                </div>
                <!-- End Login Register Content -->
            </div>
        </div>
        <!-- End Login Register Area -->
    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->

    {% endblock %}